.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.topButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.button{
  margin-right: 25px;
}

.lists{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.buttonText{
  margin-left: 5px;
}
.albumImage{
  height: 100px;
}
.artistImages{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}